# Core Dependencies
pypdf
sentence-transformers
faiss-cpu
fastapi
uvicorn
python-multipart
unstructured[pdf]
unstructured-inference
pi-heif
pdf2image
# poppler

# Evaluation
# ragas

# Future/Optional
# llama-index
# haystack-ai
# nemoguardrails
