# Core Dependencies
pypdf
sentence-transformers
faiss-cpu
fastapi
uvicorn
python-multipart
unstructured[pdf]
unstructured-inference
pi-heif
pdf2image
FlagEmbedding
# poppler
# Tesseract

# Evaluation
# ragas

llama-index
llama-index-vector-stores-faiss
llama-index-embeddings-huggingface
llama-index-llms-ollama
# haystack-ai
# nemoguardrails
